
periodic-table{

	.group{
		padding-top: 30pxx;
	}

	.group-header{
		font-size: 18px;
		padding-bottom: 10px;
	}

	.element{
		user-select: none;
		cursor: pointer;
		height: 102px;
		width: 82px;
		position: relative;
		transition-duration: 0.1s;
		text-transform: capitalize;

		border: 2px solid black;
		margin-top: -2px;
		margin-left: -2px;

		.tag{
			font-size: 36px;
			font-weight: bold;
			position: absolute;
			top:45%;
			left:50%;
			transform: translate(-50%, -50%);
		}

		.name{
			font-size: 10px;
			font-weight: 100;
			width:100%;
			text-align: center;
			position: absolute;
			bottom: 10px;
		}

	}

	@mixin background-opacity($color) {

	    background-color: rgba($color, 0.3);

	    &:hover{
	    	background-color: rgba($color, 0.5);
	    }

	    &.selected{
	    	background-color: rgba($color, 1);
	    }

	    &.selected:hover{
	    	background-color: rgba($color, 0.8);
	    }

	}

	.space-types{
		@include background-opacity(#f58e8e);
	}
	.psychological{
		@include background-opacity(#b4c470);
	}
	.spacial{
		@include background-opacity(#6ec7b2);
	}
	.pheno{
		@include background-opacity(#f9daa1);
	}
	.modalities{
		@include background-opacity(#ffcc5d);
	}
	.intelligence{
		@include background-opacity(#8cceac);
	}
}
